%html
  :javascript
    if (foo) {
        alert(bar);
    }
  :css
    body {
            border: 1px;
                    }
  :plain
            text & <strong>strong</strong> \#{foo} #{foo} {{ foo }}
    text
  :preserve
    foo #{foo}
    bar
  :escaped
            text & <strong class="error">strong</strong> \#{foo} #{foo} {{ foo }}
  :cdata
    a < b && a < 0